# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/target
package-lock.json
yarn-error.log
yarn.lock

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
/.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

#other
debug.log
2.4.2
karmareport.txt
npm-debug.log.2922497857
report.20200401.074014.475604.0.001.json
report.20200401.125746.640356.0.001.json
report.20200401.141947.639364.0.001.json
report.20200401.202338.711224.0.001.json