<h3 class="title info">{{currentLanguageSet?.common?.selectPrintPage}}</h3>
<div class="message">
  <div class="col-xs-12 col-sm-6 col-md-6 m-t-15" *ngIf="visitCategory == 'ANC'">
    <md-checkbox color='primary' class="" [(ngModel)]="printPagePreviewSelect.caseSheetANC"> {{currentLanguageSet?.ancData?.anc}}  </md-checkbox>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 m-t-15" *ngIf="visitCategory == 'PNC'">
    <md-checkbox color='primary' class="" [(ngModel)]="printPagePreviewSelect.caseSheetPNC"> {{currentLanguageSet?.pncData?.pnc}} </md-checkbox>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 m-t-15" *ngIf="visitCategory != 'General OPD (QC)'">
    <md-checkbox color='primary' class="" [(ngModel)]="printPagePreviewSelect.caseSheetHistory">  {{currentLanguageSet?.historyData.history}} </md-checkbox>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 m-t-15" *ngIf="visitCategory != 'NCD care' && visitCategory != 'General OPD (QC)' && visitCategory != 'COVID-19 Screening'">
    <md-checkbox color='primary' class="" [(ngModel)]="printPagePreviewSelect.caseSheetExamination"> {{currentLanguageSet?.ExaminationData.examination}} </md-checkbox>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 m-t-15">
    <md-checkbox color='primary' class="" [(ngModel)]="printPagePreviewSelect.caseSheetCovidVaccinationDetails">{{currentLanguageSet?.covidVaccinationStatus}}</md-checkbox>
  </div>

</div>
<div class="action">
  <button md-button (click)="dialogRef.close(false)">Cancel</button>
  <button md-button (click)="dialogRef.close(printPagePreviewSelect)" class="background-primary" cdkFocusInitial>{{currentLanguageSet?.previousvisit?.previewmmu}}</button>
</div>