<div class="container">
  <div class="row col-xs-12">
    <h2 class="text-center">{{ currentLanguageSet?.common?.history }}</h2>
    <hr />
  </div>
  <!--Past Illness Starts-->
  <div class="row m-t-10" *ngIf="visitCategory !== 'NCD screening'">
    <div class="col-xs-12">
      <h4>
        {{
          currentLanguageSet?.historyData?.ancHistory
            ?.pastIllnessDataANC_OPD_NCD_PNC?.pastIllness
        }}:
      </h4>
    </div>
    <div class="col-xs-12">
      <table
        class="table table-bordered table-striped casesheet-table"
        aria-describedby="PastIllnessStartsTbl"
      >
        <thead>
          <tr>
            <th id="serialNo">{{ currentLanguageSet?.casesheet?.serialNo }}</th>
            <th id="illness">
              {{currentLanguageSet?.historyData?.ancHistory?.pastIllnessDataANC_OPD_NCD_PNC?.illness}}
            </th>
            <th id="duration">
              {{ currentLanguageSet?.DurationData?.duration }}
            </th>
            <th id="unitOfDuration">
              {{ currentLanguageSet?.DurationData?.durationUnit }}
            </th>
          </tr>
        </thead>
        <tbody *ngIf="!pastIllnessList">
          <tr>
            <td class="text-center" colspan="4">
              {{ currentLanguageSet?.casesheet?.noRecordFound }}
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="pastIllnessList">
          <tr *ngFor="let pastIllness of pastIllnessList; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ pastIllness.illnessType }}</td>
            <td>{{ pastIllness.timePeriodAgo }}</td>
            <td>
              {{
                pastIllness.timePeriodUnit == "Hours"
                  ? "Hour(s)"
                  : pastIllness.timePeriodUnit == "Days"
                  ? "Day(s)"
                  : pastIllness.timePeriodUnit == "Weeks"
                  ? "Week(s)"
                  : pastIllness.timePeriodUnit == "Months"
                  ? "Month(s)"
                  : pastIllness.timePeriodUnit == "Years"
                  ? "Year(s)"
                  : pastIllness.timePeriodUnit
              }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--Past Illness ends-->

  <!--Past Surgery Starts-->
  <div class="row m-t-10" *ngIf="visitCategory !== 'NCD screening'">
    <div class="col-xs-12">
      <h4>{{ currentLanguageSet?.casesheet?.pastSurgery }}:</h4>
    </div>
    <div class="col-xs-12">
      <table
        class="table table-bordered table-striped casesheet-table"
        aria-describedby="PastSurgeryTbl"
      >
        <thead>
          <tr>
            <th id="serialNo">{{ currentLanguageSet?.casesheet?.serialNo }}</th>
            <th id="surgery">{{ currentLanguageSet?.common?.surgery }}</th>
            <th id="duration">
              {{ currentLanguageSet?.DurationData?.duration }}
            </th>
            <th id="unitOfDuration">
              {{ currentLanguageSet?.DurationData?.durationUnit }}
            </th>
          </tr>
        </thead>
        <tbody *ngIf="!pastSurgeryList">
          <tr>
            <td class="text-center" colspan="4">
              {{ currentLanguageSet?.casesheet?.noRecordFound }}
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="pastSurgeryList">
          <tr *ngFor="let pastSurgery of pastSurgeryList; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ pastSurgery.surgeryType }}</td>
            <td>{{ pastSurgery.timePeriodAgo }}</td>
            <td>
              {{
                pastSurgery.timePeriodUnit == "Hours"
                  ? "Hour(s)"
                  : pastSurgery.timePeriodUnit == "Days"
                  ? "Day(s)"
                  : pastSurgery.timePeriodUnit == "Weeks"
                  ? "Week(s)"
                  : pastSurgery.timePeriodUnit == "Months"
                  ? "Month(s)"
                  : pastSurgery.timePeriodUnit == "Years"
                  ? "Year(s)"
                  : pastSurgery.timePeriodUnit
              }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--Past Surgery Ends-->

  <!--Family History Starts-->
  <div class="row m-t-10">
    <div class="col-xs-12">
      <h4>
        {{
          currentLanguageSet?.historyData?.ancHistory
            ?.familyHistoryDataANC_OPD_NCD_PNC?.familyHistory
        }}:
      </h4>
    </div>
    <div class="col-xs-12">
      <table
        class="table table-bordered table-striped"
        aria-describedby="FamilyHistoryTbl"
      >
        <thead>
          <tr>
            <th style="width: 10%" id="serialNo">
              {{ currentLanguageSet?.casesheet?.serialNo }}
            </th>
            <th style="width: 20%" id="disease">
              {{ currentLanguageSet?.common?.disease }}
            </th>
            <th style="width: 40%" id="fMembers">
              {{
                currentLanguageSet?.historyData?.cancerScreeningHistory?.familyMedical
                  ?.familyMembers
              }}
            </th>
            <!-- <th style="width: 15%" id="sCode">
              {{
                currentLanguageSet?.historyData?.opdNCDPNCHistory?.immunization
                  ?.sctCode
              }}
            </th> -->
            <!-- <th style="width: 15%" id="sterm">
              {{
                currentLanguageSet?.historyData?.opdNCDPNCHistory?.immunization
                  ?.sctTerm
              }}
            </th> -->
          </tr>
        </thead>
        <tbody
          *ngIf="
            !familyHistory?.familyDiseaseList ||
            familyHistory?.familyDiseaseList.length == 0
          "
        >
          <tr>
            <td class="text-center" colspan="3">
              {{ currentLanguageSet?.casesheet?.noRecordFound }}
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="familyHistory?.familyDiseaseList">
          <tr
            *ngFor="
              let familyDisease of familyHistory?.familyDiseaseList;
              let i = index
            "
          >
            <td>{{ i + 1 }}</td>
            <td>{{ familyDisease.diseaseType }}</td>
            <td>{{ familyDisease.familyMembers }}</td>
            <!-- <td>{{ familyDisease.snomedCode }}</td> -->
            <!-- <td>{{ familyDisease.snomedTerm }}</td> -->
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-xs-12 m-t-10" *ngIf="visitCategory !== 'NCD screening'">
      <table
        class="table table-no-border casesheet-table"
        aria-describedby="ancHistoryTbl"
      >
        <tr>
          <th id="H_geneticDisorders">
            {{
              currentLanguageSet?.historyData?.ancHistory?.familyHistoryDataANC_OPD_NCD_PNC
                ?.H_geneticDisorders
            }}:
          </th>
          <td>
            {{
              familyHistory?.isGeneticDisorder == undefined
                ? null
                : familyHistory?.isGeneticDisorder
                ? "Yes"
                : "No"
            }}
          </td>
          <th id="geneticDisorders">
            {{
              currentLanguageSet?.historyData?.ancHistory?.familyHistoryDataANC_OPD_NCD_PNC
                ?.geneticDisorders
            }}:
          </th>
          <td>{{ familyHistory?.geneticDisorder }}</td>
        </tr>
        <tr>
          <th id="consanguineousMarriage">
            {{
              currentLanguageSet?.historyData?.ancHistory?.familyHistoryDataANC_OPD_NCD_PNC
                ?.consanguineousMarriage
            }}:
          </th>
          <td>
            {{
              familyHistory?.isConsanguineousMarrige == undefined
                ? null
                : familyHistory?.isConsanguineousMarrige
                ? "Yes"
                : "No"
            }}
          </td>
          <td colspan="2"></td>
        </tr>
      </table>
    </div>
  </div>
  <!--Family History Ends-->

  <!--Child Optional Vaccine Starts-->
  <div
    class="row m-t-10"
    *ngIf="
      beneficiary &&
      beneficiary?.ageVal <= 16 &&
      visitCategory !== 'NCD screening'
    "
  >
    <div class="col-xs-12">
      <h4>{{currentLanguageSet?.casesheet?.childVaccine}}</h4>
    </div>
    <div class="col-xs-12">
      <table
        class="table table-bordered table-striped casesheet-table"
        aria-describedby="ChildOptionalVaccineTbl"
      >
        <thead>
          <tr>
            <th id="serialNo">{{ currentLanguageSet?.casesheet?.serialNo }}</th>
            <th id="vaccine">
              {{
                currentLanguageSet?.historyData?.opdNCDPNCHistory?.otherVaccine
                  ?.vaccine
              }}
            </th>
            <th id="otherVaccineName">
              {{
                currentLanguageSet?.historyData?.opdNCDPNCHistory?.otherVaccine
                  ?.otherVaccineName
              }}
            </th>
            <!-- <th id="sctCode">
              {{
                currentLanguageSet?.historyData?.opdNCDPNCHistory?.immunization
                  ?.sctCode
              }}
            </th>
            <th id="sctTerm">
              {{
                currentLanguageSet?.historyData?.opdNCDPNCHistory?.immunization
                  ?.sctTerm
              }}
            </th> -->
            <th id="ageatReceived">
              {{
                currentLanguageSet?.historyData?.opdNCDPNCHistory?.otherVaccine
                  ?.ageatReceived
              }}
            </th>
            <th id="facilityName">
              {{
                currentLanguageSet?.historyData?.opdNCDPNCHistory?.otherVaccine
                  ?.facilityName
              }}
            </th>
          </tr>
        </thead>
        <tbody
          *ngIf="
            !childOptionalVaccineList || childOptionalVaccineList.length == 0
          "
        >
          <tr>
            <td class="text-center" colspan="6">
              {{ currentLanguageSet?.casesheet?.noRecordFound }}
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="childOptionalVaccineList">
          <tr
            *ngFor="
              let childOptionalVaccine of childOptionalVaccineList;
              let i = index
            "
          >
            <td>{{ i + 1 }}</td>
            <td>{{ childOptionalVaccine.vaccineName }}</td>
            <td>{{ childOptionalVaccine.otherVaccineName }}</td>
            <!-- <td>{{ childOptionalVaccine.sctCode }}</td>
            <td>{{ childOptionalVaccine.sctTerm }}</td> -->
            <td>{{ childOptionalVaccine.actualReceivingAge }}</td>
            <td>{{ childOptionalVaccine.receivedFacilityName }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--Child Optional Vaccine Ends-->

  <!--Comorbid condition Starts-->
  <div class="row m-t-10" *ngIf="visitCategory !== 'NCD screening'">
    <div class="col-xs-12">
      <h4>
        {{
          currentLanguageSet?.historyData?.ancHistory?.combordityANC_OPD_NCD_PNC
            ?.comorbidConditions
        }}:
      </h4>
    </div>
    <div class="col-xs-12">
      <table
        class="table table-bordered table-striped casesheet-table"
        aria-describedby="ComorbidconditionTbl"
      >
        <thead>
          <tr>
            <th id="serialNo">{{ currentLanguageSet?.casesheet?.serialNo }}</th>
            <th id="comoridCond">
              {{
                currentLanguageSet?.historyData?.ancHistory
                  ?.combordityANC_OPD_NCD_PNC?.comorbidConditions
              }}
            </th>
            <th id="duration">
              {{ currentLanguageSet?.DurationData?.duration }}
            </th>
            <th id="unitOfDuration">
              {{ currentLanguageSet?.DurationData?.durationUnit }}
            </th>
          </tr>
        </thead>
        <tbody
          *ngIf="!comorbidConditionList || comorbidConditionList.length == 0"
        >
          <tr>
            <td class="text-center" colspan="4">
              {{ currentLanguageSet?.casesheet?.noRecordFound }}
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="comorbidConditionList">
          <tr
            *ngFor="
              let comorbidityConditions of comorbidConditionList;
              let i = index
            "
          >
            <td>{{ i + 1 }}</td>
            <td>{{ comorbidityConditions.comorbidCondition }}</td>
            <td>{{ comorbidityConditions.timePeriodAgo }}</td>
            <td>
              {{
                comorbidityConditions.timePeriodUnit == "Hours"
                  ? "Hour(s)"
                  : comorbidityConditions.timePeriodUnit == "Days"
                  ? "Day(s)"
                  : comorbidityConditions.timePeriodUnit == "Weeks"
                  ? "Week(s)"
                  : comorbidityConditions.timePeriodUnit == "Months"
                  ? "Month(s)"
                  : comorbidityConditions.timePeriodUnit == "Years"
                  ? "Year(s)"
                  : comorbidityConditions.timePeriodUnit
              }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--Comorbid condition Ends-->

  <!--Medication History Starts-->
  <div class="row m-t-10" *ngIf="visitCategory !== 'NCD screening'">
    <div class="col-xs-12">
      <h4>
        {{
          currentLanguageSet?.historyData?.ancHistory?.medicationANC_OPD_NCD_PNC
            ?.medicationHistory
        }}:
      </h4>
    </div>
    <div class="col-xs-12">
      <table
        class="table table-bordered table-striped casesheet-table"
        aria-describedby="MedicationHistoryTbl"
      >
        <thead>
          <tr>
            <th id="serialNo">{{ currentLanguageSet?.casesheet?.serialNo }}</th>
            <th id="medicationHistory">
              {{
                currentLanguageSet?.historyData?.ancHistory
                  ?.medicationANC_OPD_NCD_PNC?.medicationHistory
              }}
            </th>
            <th id="duration">
              {{ currentLanguageSet?.DurationData?.duration }}
            </th>
            <th id="unitOfDuration">
              {{ currentLanguageSet?.DurationData?.durationUnit }}
            </th>
          </tr>
        </thead>
        <tbody
          *ngIf="!medicationHistoryList || medicationHistoryList.length == 0"
        >
          <tr>
            <td class="text-center" colspan="4">
              {{ currentLanguageSet?.casesheet?.noRecordFound }}
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="medicationHistoryList">
          <tr
            *ngFor="
              let medicationHistory of medicationHistoryList;
              let i = index
            "
          >
            <td>{{ i + 1 }}</td>
            <td>{{ medicationHistory.currentMedication }}</td>
            <td>{{ medicationHistory.timePeriodAgo }}</td>
            <td>
              {{
                medicationHistory.timePeriodUnit == "Hours"
                  ? "Hour(s)"
                  : medicationHistory.timePeriodUnit == "Days"
                  ? "Day(s)"
                  : medicationHistory.timePeriodUnit == "Weeks"
                  ? "Week(s)"
                  : medicationHistory.timePeriodUnit == "Months"
                  ? "Month(s)"
                  : medicationHistory.timePeriodUnit == "Years"
                  ? "Year(s)"
                  : medicationHistory.timePeriodUnit
              }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--Medication History Ends-->

  <!--Menstrual History Starts-->
  <div
    class="row m-t-10"
    *ngIf="
      beneficiary &&
      beneficiary?.ageVal >= 8 &&
      beneficiary?.genderName != 'Male' &&
      visitCategory !== 'NCD screening'
    "
  >
    <div class="col-xs-12">
      <h4>
        {{
          currentLanguageSet?.historyData?.opdNCDPNCHistory?.menstrual
            ?.menstrualHistory
        }}:
      </h4>
    </div>

    <div class="col-xs-12">
      <table
        class="table table-no-border casesheet-table"
        aria-describedby="MenstrualHistoryTbl"
      >
        <tr>
          <th id="menstrualCycleStatus">
            {{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.menstrual
                ?.menstrualCycleStatus
            }}:
          </th>
          <td>{{ menstrualHistory?.menstrualCycleStatus }}</td>
          <th id="regularityofMenstrualCycle">
            {{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.menstrual
                ?.regularityofMenstrualCycles
            }}:
          </th>
          <td>{{ menstrualHistory?.regularity }}</td>
        </tr>

        <tr>
          <th id="lengthofMenstrualCycle">
            {{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.menstrual
                ?.lengthofMenstrualCycle
            }}:
          </th>
          <td>{{ menstrualHistory?.cycleLength }}</td>
          <th id="menstrualFlowduration">
            {{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.menstrual
                ?.menstrualBloodFlowDuration
            }}:
          </th>
          <td>{{ menstrualHistory?.bloodFlowDuration }}</td>
        </tr>

        <tr>
          <th id="menstrualProblems">
            {{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.menstrual
                ?.menstrualProblems
            }}:
          </th>
          <td>{{ menstrualHistory?.problemName }}</td>
          <th id="lastMenstrualPeriod">
            {{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.menstrual
                ?.lastMenstrualPeriod
            }}:
          </th>
          <td>{{ menstrualHistory?.lMPDate | date: "dd/MM/yyyy" }}</td>
        </tr>
      </table>
    </div>
  </div>
  <!--Menstrual History Ends-->

  <!--Developmental History Starts-->
  <div
    class="row m-t-10"
    *ngIf="
      beneficiary &&
      beneficiary?.ageVal <= 2 &&
      visitCategory !== 'NCD screening'
    "
  >
    <div class="col-xs-12">
      <h4>
        {{
          currentLanguageSet?.historyData?.opdNCDPNCHistory?.development
            ?.developmentHistory
        }}
      </h4>
    </div>

    <div class="col-xs-12">
      <table
        class="table table-no-border casesheet-table"
        aria-describedby="DevelopmentalHistoryTbl"
      >
        <tr>
          <th id="grossMotorMilestone">
            {{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.development
                ?.grossMotorMilestone
            }}:
          </th>
          <td>{{ developmentalHistory?.grossMotorMilestone }}</td>
          <th id="fineMotorMilestone">
            {{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.development
                ?.fineMotorMilestone
            }}:
          </th>
          <td>{{ developmentalHistory?.fineMotorMilestone }}</td>
        </tr>

        <tr>
          <th id="socialMilestone">
            {{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.development
                ?.socialMilestone
            }}:
          </th>
          <td>{{ developmentalHistory?.socialMilestone }}</td>
          <th id="languageMilestone">
            {{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.development
                ?.languageMilestone
            }}:
          </th>
          <td>{{ developmentalHistory?.languageMilestone }}</td>
        </tr>

        <tr>
          <th id="developmentalProblems">
            {{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.development
                ?.developmentalProblems
            }}:
          </th>
          <td>{{ developmentalHistory?.developmentProblem }}</td>
          <td colspan="2"></td>
        </tr>
      </table>
    </div>
  </div>
  <!--Developmental History Ends-->

  <!--Feeding History Starts-->
  <div
    class="row m-t-10"
    *ngIf="
      beneficiary &&
      beneficiary?.ageVal <= 6 &&
      visitCategory !== 'NCD screening'
    "
  >
    <div class="col-xs-12">
      <h4>
        {{
          currentLanguageSet?.historyData?.opdNCDPNCHistory?.feeding
            ?.feedingHistory
        }}
      </h4>
    </div>

    <div class="col-xs-12">
      <table
        class="table table-no-border casesheet-table"
        aria-describedby="FeedingHistoryTbl"
      >
        <tr>
          <th id="typeofFeeds">
            {{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.feeding
                ?.typeofFeeds
            }}:
          </th>
          <td>{{ feedingHistory?.typeOfFeed }}</td>
          <th id="ageatweaning">
            {{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.feeding
                ?.ageatweaning
            }}:
          </th>
          <td>{{ feedingHistory?.compFeedStartAge }}</td>
        </tr>

        <tr>
          <th id="numberofComplimentaryfoodservings">
            {{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.feeding
                ?.numberofComplimentaryfoodservings
            }}:
          </th>
          <td>{{ feedingHistory?.noOfCompFeedPerDay }}</td>
          <th id="foodIntoleranceStatus">
            {{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.feeding
                ?.foodIntoleranceStatus
            }}:
          </th>
          <td>{{ feedingHistory?.foodIntoleranceStatus }}</td>
        </tr>

        <tr>
          <th id="typeofFoodIntolerance">
            {{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.feeding
                ?.typeofFoodIntolerance
            }}:
          </th>
          <td>
            {{
              feedingHistory?.typeofFoodIntolerance == undefined
                ? null
                : feedingHistory?.typeofFoodIntolerance
                ? "Yes"
                : "No"
            }}
          </td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
  <!--Feeding History Ends-->

  <!--Perinatal History Starts-->
  <div
    class="row m-t-10"
    *ngIf="
      beneficiary &&
      beneficiary?.ageVal <= 1 &&
      visitCategory !== 'NCD screening'
    "
  >
    <div class="col-xs-12">
      <h4>
        {{
          currentLanguageSet?.historyData?.opdNCDPNCHistory?.perinatal_OPD
            ?.perintalHistory
        }}
      </h4>
    </div>

    <div class="col-xs-12">
      <table
        class="table table-no-border casesheet-table"
        aria-describedby="PerinatalHistoryTbl"
      >
        <tr>
          <th id="placeofDelivery">
            {{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.perinatal_OPD
                ?.placeofDelivery
            }}:
          </th>
          <td>{{ perinatalHistory?.placeOfDelivery }}</td>
          <th id="typeofDelivery">
            {{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.perinatal_OPD
                ?.typeofDelivery
            }}:
          </th>
          <td>{{ perinatalHistory?.typeOfDelivery }}</td>
        </tr>

        <tr>
          <th id="complicationatBirth">
            {{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.perinatal_OPD
                ?.complicationatBirth
            }}:
          </th>
          <td>{{ perinatalHistory?.complicationAtBirth }}</td>
          <th id="gestation">
            {{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.perinatal_OPD
                ?.gestation
            }}:
          </th>
          <td>{{ perinatalHistory?.gestation }}</td>
        </tr>

        <tr>
          <th id="birthWeight">
            {{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.perinatal_OPD
                ?.birthWeight
            }}:
          </th>
          <td>{{ perinatalHistory?.birthWeight_kg }}</td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
  <!--Perinatal History Ends-->

  <!--Immunization History Starts-->
  <div
    class="row m-t-10"
    *ngIf="
      beneficiary &&
      beneficiary?.ageVal <= 16 &&
      visitCategory !== 'NCD screening'
    "
  >
    <div class="col-xs-12">
      <h4>
        {{
          currentLanguageSet?.historyData?.opdNCDPNCHistory?.immunization
            ?.ImmunizationHistory
        }}
      </h4>
    </div>

    <div class="col-xs-12">
      <table
        class="table table-bordered table-striped casesheet-table"
        aria-describedby="ImmunizationHistoryTbl"
      >
        <thead>
          <tr>
            <th id="age">
              {{
                currentLanguageSet?.historyData?.opdNCDPNCHistory?.immunization
                  ?.age
              }}
            </th>
            <th id="Vaccines">
              {{
                currentLanguageSet?.historyData?.opdNCDPNCHistory?.immunization
                  ?.Vaccines
              }}
            </th>
            <!-- <th id="sctCode">
              {{
                currentLanguageSet?.historyData?.opdNCDPNCHistory?.immunization
                  ?.sctCode
              }}
            </th>
            <th id="sctTerm">
              {{
                currentLanguageSet?.historyData?.opdNCDPNCHistory?.immunization
                  ?.sctTerm
              }}
            </th> -->
            <th id="Status">
              {{
                currentLanguageSet?.historyData?.opdNCDPNCHistory?.immunization
                  ?.Status
              }}
            </th>
          </tr>
        </thead>
        <tbody
          *ngIf="
            !immunizationHistory ||
            immunizationHistory?.immunizationList.length == 0
          "
        >
          <tr>
            <td class="text-center" colspan="5">
              {{ currentLanguageSet?.common?.noRecordFound }}
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="immunizationHistory">
          <ng-container
            *ngFor="let immunization of immunizationHistory?.immunizationList"
          >
            <tr>
              <th
                [attr.rowspan]="immunization.vaccines.length + 1"
                id="defaultReceivingAge"
              >
                {{ immunization.defaultReceivingAge }}
              </th>
            </tr>
            <tr *ngFor="let vaccine of immunization?.vaccines">
              <td>{{ vaccine.vaccine }}</td>
              <!-- <td>{{ vaccine.sctCode }}</td> -->
              <!-- <td>{{ vaccine.sctTerm }}</td> -->
              <td>
                <md-checkbox [checked]="vaccine.status" disabled></md-checkbox>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <!--Immunization History Ends-->

  <!--Personal History Starts-->
  <div class="row m-t-10">
    <div class="col-xs-12">
      <h4>
        {{
          currentLanguageSet?.historyData?.ancHistory
            ?.personalHistoryANC_OPD_NCD_PNC?.personalHistoryData
        }}:
      </h4>
    </div>

    <div class="col-xs-12">
      <table
        class="table table-no-border casesheet-table"
        aria-describedby="PersonalHistoryTbl"
      >
        <tr>
          <th id="dietaryType">
            {{
              currentLanguageSet?.historyData?.ancHistory
                ?.personalHistoryANC_OPD_NCD_PNC?.dietaryType
            }}:
          </th>
          <td>{{ personalHistory?.dietaryType }}</td>
          <th id="physicalActivityType">
            {{
              currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
                ?.physicalActivityType
            }}:
          </th>
          <td>{{ personalHistory?.physicalActivityType }}</td>
        </tr>

        <tr *ngIf="beneficiary && beneficiary?.ageVal >= 18">
          <th id="riskySexualPracticesStatus">
            {{currentLanguageSet?.historyData?.ancHistory?.personalHistoryANC_OPD_NCD_PNC?.riskySexualPracticesStatus}}:
          </th>

          <td>
            {{
              personalHistory?.riskySexualPracticesStatus == undefined
                ? null
                : personalHistory?.riskySexualPracticesStatus
                ? "Yes"
                : "No"
            }}
          </td>
          <td colspan="2"></td>
        </tr>
      </table>
    </div>

    <div class="col-xs-12 m-t-10">
      <table
        class="table table-no-border casesheet-table"
        aria-describedby="allergicStatus"
      >
        <tbody>
          <tr>
            <th id="allergicStatus">
              {{
                currentLanguageSet?.historyData?.ancHistory
                  ?.personalHistoryANC_OPD_NCD_PNC?.allergicStatus
                  ?.allergicStatus
              }}:
            </th>
            <td>{{ personalHistory?.allergyStatus }}</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-xs-12 m-t-10">
      <table
        class="table table-bordered table-striped"
        aria-describedby="personalHistory"
      >
        <thead>
          <tr>
            <th style="width: 5%" id="serialNo">
              {{ currentLanguageSet?.casesheet?.serialNo }}
            </th>
            <th style="width: 10%" id="allergyType">
              {{
                currentLanguageSet?.historyData?.ancHistory
                  ?.personalHistoryANC_OPD_NCD_PNC?.allergicStatus?.allergyType
              }}
            </th>
            <th style="width: 20%" id="allergenName">
              {{
                currentLanguageSet?.historyData?.ancHistory
                  ?.personalHistoryANC_OPD_NCD_PNC?.allergicStatus?.allergenName
              }}
            </th>
            <!-- <th style="width: 15%" id="sCode">
              {{
                currentLanguageSet?.historyData?.opdNCDPNCHistory?.immunization
                  ?.sctCode
              }}
            </th>
            <th style="width: 15%" id="sTerm">
              {{
                currentLanguageSet?.historyData?.opdNCDPNCHistory?.immunization
                  ?.sctTerm
              }}
            </th> -->
            <th style="width: 35%" id="typeOfReaction">
              {{
                currentLanguageSet?.historyData?.ancHistory
                  ?.personalHistoryANC_OPD_NCD_PNC?.allergicStatus
                  ?.typeofReaction
              }}
            </th>
          </tr>
        </thead>
        <tbody *ngIf="personalHistory?.allergicList?.length == 0">
          <tr>
            <td class="text-center" colspan="4">
              {{ currentLanguageSet?.casesheet?.noRecordFound }}
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="personalHistory?.allergicList">
          <tr
            *ngFor="let allergy of personalHistory?.allergicList; let i = index"
          >
            <td>{{ i + 1 }}</td>
            <td>{{ allergy.allergyType }}</td>
            <td>{{ allergy.snomedTerm }}</td>
            <!-- <td>{{ allergy.snomedCode }}</td> -->
            <!-- <td>{{ allergy.snomedTerm }}</td> -->
            <td>{{ allergy.allergicReactionType }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div
      class="col-xs-12 m-t-10"
      *ngIf="beneficiary && beneficiary?.ageVal >= 13"
    >
      <table
        class="table table-no-border casesheet-table"
        aria-describedby="tobaccoStatus"
      >
        <tbody>
          <tr>
            <th id="tobaccoUseStatus">
              {{
                currentLanguageSet?.historyData?.ancHistory
                  ?.personalHistoryANC_OPD_NCD_PNC?.tobaccoData
                  ?.tobaccoUseStatus
              }}:
            </th>
            <td>{{ personalHistory?.tobaccoUseStatus }}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div
      class="col-xs-12 m-t-10"
      *ngIf="beneficiary && beneficiary?.ageVal >= 13"
    >
      <table
        class="table table-bordered table-striped"
        aria-describedby="tobaccosage"
      >
        <thead>
          <tr>
            <th style="width: 5%" id="serialNo">
              {{ currentLanguageSet?.casesheet?.serialNo }}
            </th>
            <th style="width: 20%" id="typeofTobaccoUse">
              {{
                currentLanguageSet?.historyData?.ancHistory
                  ?.personalHistoryANC_OPD_NCD_PNC?.tobaccoData
                  ?.typeofTobaccoUse
              }}
            </th>
            <th style="width: 25%" id="numberPerDay">
              {{
                currentLanguageSet?.historyData?.ancHistory
                  ?.personalHistoryANC_OPD_NCD_PNC?.tobaccoData?.numberPerDay
              }}
            </th>
            <th style="width: 25%" id="duration1">
              {{ currentLanguageSet?.DurationData?.duration }}
            </th>
            <th style="width: 25%" id="unitOfDuration1">
              {{ currentLanguageSet?.DurationData?.durationUnit }}
            </th>
          </tr>
        </thead>
        <tbody *ngIf="personalHistory?.tobaccoList?.length == 0">
          <tr>
            <td class="text-center" colspan="5">
              {{ currentLanguageSet?.casesheet?.noRecordFound }}
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="personalHistory?.tobaccoList">
          <tr
            *ngFor="let tobacco of personalHistory?.tobaccoList; let i = index"
          >
            <td>{{ i + 1 }}</td>
            <td>{{ tobacco.tobaccoUseType }}</td>
            <td>{{ tobacco.numberperDay }}</td>
            <td>{{ tobacco.duration }}</td>
            <td>
              {{
                tobacco.durationUnit == "Hours"
                  ? "Hour(s)"
                  : tobacco.durationUnit == "Days"
                  ? "Day(s)"
                  : tobacco.durationUnit == "Weeks"
                  ? "Week(s)"
                  : tobacco.durationUnit == "Months"
                  ? "Month(s)"
                  : tobacco.durationUnit == "Years"
                  ? "Year(s)"
                  : tobacco.durationUnit
              }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div
      class="col-xs-12 m-t-10"
      *ngIf="beneficiary && beneficiary?.ageVal >= 13"
    >
      <table
        class="table table-no-border casesheet-table"
        aria-describedby="alcoholIntakeStatus"
      >
        <tbody>
          <tr>
            <th id="alcoholUseStatus">
              {{
                currentLanguageSet?.historyData?.ancHistory
                  ?.personalHistoryANC_OPD_NCD_PNC?.alcoholData
                  ?.alcoholUseStatus
              }}:
            </th>
            <td>{{ personalHistory?.alcoholIntakeStatus }}</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div
      class="col-xs-12 m-t-10"
      *ngIf="beneficiary && beneficiary?.ageVal >= 13"
    >
      <table
        class="table table-bordered table-striped"
        aria-describedby="alcoholData"
      >
        <thead>
          <tr>
            <th style="width: 5%" id="serialNo">
              {{ currentLanguageSet?.casesheet?.serialNo }}
            </th>
            <th style="width: 20%" id="typeofAlcohol3">
              {{
                currentLanguageSet?.historyData?.ancHistory
                  ?.personalHistoryANC_OPD_NCD_PNC?.alcoholData?.typeofAlcohol
              }}
            </th>
            <th style="width: 25%" id="freqofAlcohol2">
              {{
                currentLanguageSet?.historyData?.ancHistory
                  ?.personalHistoryANC_OPD_NCD_PNC?.alcoholData?.freqofAlcohol
              }}
            </th>
            <th style="width: 20%" id="qtyofAlcoholintake">
              {{
                currentLanguageSet?.historyData?.ancHistory
                  ?.personalHistoryANC_OPD_NCD_PNC?.alcoholData
                  ?.qtyofAlcoholintake
              }}
            </th>
            <th style="width: 15%" id="duration2">
              {{ currentLanguageSet?.DurationData?.duration }}
            </th>
            <th style="width: 15%" id="unitOfDuration2">
              {{ currentLanguageSet?.DurationData?.durationUnit }}
            </th>
          </tr>
        </thead>
        <tbody *ngIf="personalHistory?.alcoholList?.length == 0">
          <tr>
            <td class="text-center" colspan="6">
              {{ currentLanguageSet?.casesheet?.noRecordFound }}
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="personalHistory?.alcoholList">
          <tr
            *ngFor="let alcohol of personalHistory?.alcoholList; let i = index"
          >
            <td>{{ i + 1 }}</td>
            <td>{{ alcohol.alcoholType }}</td>
            <td>{{ alcohol.alcoholIntakeFrequency }}</td>
            <td>{{ alcohol.avgAlcoholConsumption }}</td>
            <td>{{ alcohol.duration }}</td>
            <td>
              {{
                alcohol.durationUnit == "Hours"
                  ? "Hour(s)"
                  : alcohol.durationUnit == "Days"
                  ? "Day(s)"
                  : alcohol.durationUnit == "Weeks"
                  ? "Week(s)"
                  : alcohol.durationUnit == "Months"
                  ? "Month(s)"
                  : alcohol.durationUnit == "Years"
                  ? "Year(s)"
                  : alcohol.durationUnit
              }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--Personal History Ends-->

  <!--Female Obstetric History Starts-->
  <div
    class="row m-t-10"
    *ngIf="
      beneficiary &&
      beneficiary?.ageVal >= 12 &&
      beneficiary?.genderName != 'Male' &&
      !ANCDetailsAndFormula?.primiGravida &&
      visitCategory !== 'NCD screening'
    "
  >
    <div class="col-xs-12">
      <h4>{{ currentLanguageSet?.casesheet?.femaleObstetric }}:</h4>
    </div>
    <div class="col-xs-12">
      <table
        class="table table-responsive table-bordered"
        aria-describedby="FemaleObstetricHistoryTbl"
      >
        <tbody
          *ngIf="
            !femaleObstetricHistory?.femaleObstetricHistoryList ||
            femaleObstetricHistory?.femaleObstetricHistoryList.length == 0
          "
        >
          <tr>
            <td class="text-center" colspan="11">
              {{ currentLanguageSet?.common?.noRecordFound }}
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="femaleObstetricHistory?.femaleObstetricHistoryList">
          <ng-container
            *ngFor="
              let femaleObstetricHistory of femaleObstetricHistory?.femaleObstetricHistoryList;
              let i = index
            "
          >
          
            <tr>
              <th id="pregOrder">
                {{ currentLanguageSet?.casesheet?.pregOrder }}:
              </th>
              <td>{{ femaleObstetricHistory.pregOrder }}</td>
              <th id="pregComp">
                {{ currentLanguageSet?.casesheet?.pregComp }}:
              </th>
              <td>{{ femaleObstetricHistory.pregComplicationType }}</td>
            </tr>
            <tr *ngIf="femaleObstetricHistory?.otherPregComplication">
              <th colspan="2" id="otherPregComp">
                {{ currentLanguageSet?.casesheet?.otherPregComp }}:
              </th>
              <td colspan="2">
                {{ femaleObstetricHistory?.otherPregComplication }}
              </td>
            </tr>
            <tr>
              <th id="durationofPregnancy">
                {{
                  currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                    ?.durationofPregnancy
                }}:
              </th>
              <td>{{ femaleObstetricHistory.durationType }}</td>
              <th id="placeofDelivery">
                {{
                  currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                    ?.placeofDelivery
                }}:
              </th>
              <td>{{ femaleObstetricHistory.deliveryPlace }}</td>
            </tr>
            <tr>
              <th id="deliveryType">
                {{
                  currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                    ?.deliveryType
                }}:
              </th>
              <td>{{ femaleObstetricHistory.deliveryType }}</td>
              <th id="deliveryComplication">
                {{
                  currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                    ?.deliveryComplication
                }}:
              </th>
              <td>{{ femaleObstetricHistory.deliveryComplicationType }}</td>
            </tr>
            <tr *ngIf="femaleObstetricHistory?.otherDeliveryComplication">
              <th colspan="2" id="otherdeliverycomplication">
                {{
                  currentLanguageSet?.historyData?.obstetrichistory
                    ?.otherdeliverycomplication
                }}:
              </th>
              <td colspan="2">
                {{ femaleObstetricHistory?.otherDeliveryComplication }}
              </td>
            </tr>
            <tr>
              <th id="PregOutcome">
                {{
                  currentLanguageSet?.historyData?.obstetrichistory
                    ?.PregOutcome
                }}:
              </th>
              <td>{{ femaleObstetricHistory.pregOutcome }}</td>
              <th id="postpartumComplication">
                {{
                  currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                    ?.postpartumComplication
                }}:
              </th>
              <td>{{ femaleObstetricHistory.postpartumComplicationType }}</td>
            </tr>
            <tr *ngIf="femaleObstetricHistory?.otherPostpartumCompType">
              <th id="otherpostpartumcompType">
                {{
                  currentLanguageSet?.historyData?.obstetrichistory
                    ?.otherpostpartumcompType
                }}:
              </th>
              <td >
                {{ femaleObstetricHistory?.otherPostpartumCompType }}
              </td>
            </tr>
            <tr>
              <th id="newBornComplication">
                {{
                  currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                    ?.newBornComplication
                }}:
              </th>
              <td>{{ femaleObstetricHistory.newBornComplication }}</td>
              <th id="congenitalAnomalies">
                {{
                  currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                    ?.congenitalAnomalies
                }}:
              </th>
              <td>{{ femaleObstetricHistory.congenitalAnomalies }}</td>
            </tr>
            <tr>
              <th id="typeOfAbortion">
                {{
                  currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                    ?.typeOfAbortion
                }}:
              </th>
              <td>{{ femaleObstetricHistory.typeOfAbortionValue }}</td>
              <th id="typeofFacility">
                {{
                  currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                    ?.typeofFacility
                }}:
              </th>
              <td>{{ femaleObstetricHistory.serviceFacilityValue }}</td>
            </tr>
            <tr>
              <th id="noOfcompletedWeeks1">
                {{
                  currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                    ?.noOfcompletedWeeks
                }}:
              </th>
              <td>{{ femaleObstetricHistory.pregDuration }}</td>
              <th complicationPostAbortion id="complicationPostAbortion">
                {{
                  currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                    ?.complicationPostAbortion
                }}:
              </th>
              <td>
                {{ femaleObstetricHistory.postAbortionComplicationsValues }}
              </td>
            </tr>
            <tr>
              <td class="text-center" colspan="11">
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <!--Female Obstetric History Ends-->

  <!--Physical Activity History Starts-->
  <div class="row m-t-10" *ngIf="visitCategory == 'NCD screening'">
    <div class="col-xs-12">
      <h4>{{ currentLanguageSet?.physicalActivity }}</h4>
    </div>
    <div class="col-xs-12">
      <table
        class="table table-bordered table-striped casesheet-table"
        aria-describedby="PhysicalActivityHistory"
      >
        <thead>
          <tr>
            <th style="width: 10%" id="sno">
              {{ currentLanguageSet?.casesheet?.serialNo }}
            </th>
            <th style="width: 30%" id="pat">
              {{
                currentLanguageSet?.historyData?.cancerScreeningHistory
                  ?.personal?.physicalActivityType
              }}
            </th>
            <th style="width: 60%" id="ActivityType">
              {{ currentLanguageSet?.activityType }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>{{ previousPhysicalList?.physicalActivityType }}</td>
            <td>{{ previousPhysicalList?.activityType }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--Physical Activity History ends-->
</div>
<div *ngIf="visitCategory == 'NCD care' || visitCategory == 'COVID-19 Screening'" class="container">
  <div class="row col-xs-12">
    <h2 class="text-center">
      {{ currentLanguageSet?.Referdetails?.revisitAndRefer }}
    </h2>
    <hr />
    <div class="col-xs-12">
      <table
        class="table table-no-border casesheet-table"
        aria-describedby="revisitAndRefer"
      >
        <tbody>
          <tr>
            <th id="referredToInstituteName">
              {{ currentLanguageSet?.Referdetails?.higherhealthcarecenter }}:
            </th>
            <td>{{ referDetails?.referredToInstituteName }}</td>
          </tr>
          <tr>
            <th id="serviceList">
              {{ currentLanguageSet?.Referdetails?.additionalservices }}:
            </th>
            <td>{{ serviceList }}</td>
          </tr>
          <tr>
            <th id="referralReason">
              {{ currentLanguageSet?.Referdetails?.referralReason }}:
            </th>
            <td>{{ referDetails?.referralReason }}</td>
          </tr>
          <tr>
            <th id="revisitDate">{{ currentLanguageSet?.revisitDate }}:</th>
            <td>{{ referDetails?.revisitDate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf="visitCategory == 'NCD screening'" class="container">
  <div class="row col-xs-12">
    <h2 class="text-center">
      {{ currentLanguageSet?.Referdetails?.revisitAndRefer }}
    </h2>
    <hr />
    <div class="col-xs-12">
      <table
        class="table table-no-border casesheet-table"
        aria-describedby="referDetails"
      >
        <tbody>
          <tr>
            <th id="ncdHigherhealthcarecenter">
              {{ currentLanguageSet?.Referdetails?.higherhealthcarecenter }}:
            </th>
            <td>{{ referDetails?.referredToInstituteName }}</td>
          </tr>
          <tr>
            <th id="ncdAdditionalservices">
              {{ currentLanguageSet?.Referdetails?.additionalservices }}:
            </th>
            <td>{{ serviceList }}</td>
          </tr>
          <tr>
            <th id="ncdReferralReason">
              {{ currentLanguageSet?.Referdetails?.referralReason }}:
            </th>
            <td>{{ referDetails?.referralReason }}</td>
          </tr>
          <tr>
            <th id="ncdRevisitDate">{{ currentLanguageSet?.revisitDate }}:</th>
            <td>{{ referDetails?.revisitDate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!--MMU-WDF-Revisit&Refer-->
  <div class="row col-xs-12" *ngIf="enableTCReferredMMUData === true">
    <h2 class="text-center" style="margin-left: 50px;">{{ currentLanguageSet?.mmuRevisitRefer }}</h2>
    <hr />
    <div class="col-xs-12">
      <table
        class="table table-no-border casesheet-table"
        aria-describedby="wdfRevisit"
      >
        <tbody>
          <tr>
            <th id="mmuReferredtoinstitute">
              {{ currentLanguageSet?.Referdetails?.referredtoinstitute }}:
            </th>
            <td>{{ MMUReferDetails?.referredToInstituteName }}</td>
          </tr>
          <tr>
            <th id="mmuadditionalservices">
              {{ currentLanguageSet?.Referdetails?.additionalservices }}:
            </th>
            <td>{{ mmuServiceList }}</td>
          </tr>
          <tr>
            <th id="mmuReferralReason">
              {{ currentLanguageSet?.Referdetails?.referralReason }}:
            </th>
            <td>{{ MMUReferDetails?.referralReason }}</td>
          </tr>
          <tr>
            <th id="mmurevisitDate">
              {{ currentLanguageSet?.Referdetails?.revisitDate }}:
            </th>
            <td>
              {{
                mmuCaseSheetData?.referDetails?.revisitDate | date: "dd/MM/yyyy"
              }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!--END MMU-WDF-Revisit&Refer-->
</div>
