<!-- {{patientVisitDetailsForm.value | json}} -->

<div class="row m-t-20" [formGroup]='patientVisitDetailsForm'>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box" *ngIf="mode == 'view'">
    <md-form-field class="input-full-width">
      <input autocomplete="off" mdInput defaultNull placeholder="
      {{currentLanguageSet?.Reports?.visitcode}}" name='visitCode' formControlName="visitCode">
    </md-form-field>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
    <md-select class="input-full-width" placeholder="{{currentLanguageSet?.nurseData?.visitDetailsForm?.reasonForVisit}}" name='visitReason' formControlName='visitReason' (change)="reasonSelected(visitReason)" required>
      <md-option *ngFor="let visitReasons of templateVisitReasons" [value]='visitReasons.visitReason'>
        {{ visitReasons.visitReason }}
      </md-option>
    </md-select>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box" *ngIf="visitReason">
    <md-select class="input-full-width" placeholder="{{currentLanguageSet?.nurseData?.visitDetailsForm?.visitCategory}}" name='visitCategory' formControlName='visitCategory' (change)='checkCategoryDependent(visitCategory)' required>
      <md-option *ngFor="let VisitCategories of templateFilterVisitCategories" [value]='VisitCategories.visitCategory'>
        {{VisitCategories.visitCategory}}
      </md-option>
    </md-select>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box" *ngIf="(showPregnancyStatus && visitCategory != null && visitCategory != undefined && visitCategory != 'PNC')">
    <md-select class="input-full-width" placeholder="{{currentLanguageSet?.nurseData?.visitDetailsForm?.pregnancyStatus}}" id='pregnancyStatus' name='pregnancyStatus' formControlName='pregnancyStatus' [attr.readonly]="visitCategory == 'ANC'">
      <md-option *ngFor="let pregnancyStatus of templatePregnancyStatus" [value]='pregnancyStatus'>
        {{pregnancyStatus}}
      </md-option>
    </md-select>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box" *ngIf="pregnancyStatus && pregnancyStatus == 'Yes' && visitCategory != 'PNC' ">
    <md-form-field class="input-full-width">
      <input autocomplete="off" mdInput defaultNull allowText="number" placeholder="{{currentLanguageSet?.nurseData?.visitDetailsForm?.MCTSOrRCHID}}" maxlength="20" name='rCHID' formControlName='rCHID'>
    </md-form-field>
  </div>
</div>