<!--{{headToToeExaminationForm.value | json}} -->
<div class="row m-t-20" [formGroup]="headToToeExaminationForm">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 box">
    <div class="form-group">
      <label class="control-label" for="headToToeExamination">{{currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.headToToe?.headexamination}}</label>
      <div class="clearfix"></div>
      <md-radio-group id='headtoToeExam' name='headtoToeExam' formControlName="headtoToeExam" (change)='checkWithHeadToToe()'>
        <md-radio-button color='primary' value="Normal">{{currentLanguageSet?.common?.normal}}</md-radio-button>
        <md-radio-button color='primary' value="Abnormal">{{currentLanguageSet?.common?.abnormal}}</md-radio-button>
      </md-radio-group>
    </div>
  </div>
  <div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 box" *ngIf="headtoToeExam == 'Abnormal'">
      <div class="form-group">
        <md-form-field class="input-full-width" class="input-full-width">
          <input autocomplete="off" allowText="textAreaValidator" mdInput defaultNull mdTextareaAutosize id='head' name='head' formControlName="head" placeholder="{{currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.headToToe?.head}}" maxlength="50">
        </md-form-field>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 box" *ngIf="headtoToeExam == 'Abnormal'">
      <div class="form-group">
        <md-form-field class="input-full-width" class="input-full-width">
          <input autocomplete="off" allowText="textAreaValidator" mdInput defaultNull mdTextareaAutosize id='eyes' name='eyes' formControlName="eyes" placeholder="{{currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.headToToe?.eyes}}" maxlength="50">
        </md-form-field>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 box" *ngIf="headtoToeExam == 'Abnormal'">
      <div class="form-group">
        <md-form-field class="input-full-width" class="input-full-width">
          <input autocomplete="off" allowText="textAreaValidator" mdInput defaultNull mdTextareaAutosize id='ears' name='ears' formControlName="ears" placeholder="{{currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.headToToe?.ears}}" maxlength="50">
        </md-form-field>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 box" *ngIf="headtoToeExam == 'Abnormal'">
      <div class="form-group">
        <md-form-field class="input-full-width" class="input-full-width">
          <input autocomplete="off" allowText="textAreaValidator" mdInput defaultNull mdTextareaAutosize id='nose' name='nose' formControlName="nose" placeholder="{{currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.headToToe?.nose}}" maxlength="50">
        </md-form-field>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 box" *ngIf="headtoToeExam == 'Abnormal'">
      <div class="form-group">
        <md-form-field class="input-full-width" class="input-full-width">
          <input autocomplete="off" allowText="textAreaValidator" mdInput defaultNull mdTextareaAutosize id='oralCavity' name='oralCavity' formControlName="oralCavity" placeholder="{{currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.headToToe?.oralcavity}}" maxlength="50">
        </md-form-field>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 box" *ngIf="headtoToeExam == 'Abnormal'">
      <div class="form-group">
        <md-form-field class="input-full-width" class="input-full-width">
          <input autocomplete="off" allowText="textAreaValidator" mdInput defaultNull mdTextareaAutosize id='throat' name='throat' formControlName="throat" placeholder="{{currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.headToToe?.throat}}" maxlength="50">
        </md-form-field>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 box" *ngIf="headtoToeExam == 'Abnormal'">
      <div class="form-group">
        <md-form-field class="input-full-width" class="input-full-width">
          <input autocomplete="off" allowText="textAreaValidator" mdInput defaultNull mdTextareaAutosize id='breastAndNipples' name='breastAndNipples' formControlName="breastAndNipples" placeholder="{{currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.headToToe?.breast}}" maxlength="50">
        </md-form-field>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 box" *ngIf="headtoToeExam == 'Abnormal'">
      <div class="form-group">
        <md-form-field class="input-full-width" class="input-full-width">
          <input autocomplete="off" allowText="textAreaValidator" mdInput defaultNull mdTextareaAutosize id='trunk' name='trunk' formControlName="trunk" placeholder="{{currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.headToToe?.trunk}}" maxlength="50">
        </md-form-field>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 box" *ngIf="headtoToeExam == 'Abnormal'">
      <div class="form-group">
        <md-form-field class="input-full-width" class="input-full-width">
          <input autocomplete="off" allowText="textAreaValidator" mdInput defaultNull mdTextareaAutosize id='upperLimbs' name='upperLimbs' formControlName="upperLimbs" placeholder="{{currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.headToToe?.upperlimbs}}" maxlength="50">
        </md-form-field>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 box" *ngIf="headtoToeExam == 'Abnormal'">
      <div class="form-group">
        <md-form-field class="input-full-width" class="input-full-width">
          <input autocomplete="off" allowText="textAreaValidator" mdInput defaultNull mdTextareaAutosize id='lowerLimbs' name='lowerLimbs' formControlName="lowerLimbs" placeholder="{{currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.headToToe?.lowerlimbs}}" maxlength="50">
        </md-form-field>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 box" *ngIf="headtoToeExam == 'Abnormal'">
      <div class="form-group">
        <md-form-field class="input-full-width" class="input-full-width">
          <input autocomplete="off" allowText="textAreaValidator" mdInput defaultNull mdTextareaAutosize id='skin' name='skin' formControlName="skin" placeholder="{{currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.headToToe?.skin}}" maxlength="50">
        </md-form-field>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 box" *ngIf="headtoToeExam == 'Abnormal'">
      <div class="form-group">
        <md-form-field class="input-full-width" class="input-full-width">
          <input autocomplete="off" allowText="textAreaValidator" mdInput defaultNull mdTextareaAutosize id='hair' name='hair' formControlName="hair" placeholder="{{currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.headToToe?.hairs}}" maxlength="50">
        </md-form-field>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 box" *ngIf="headtoToeExam == 'Abnormal'">
      <div class="form-group">
        <md-form-field class="input-full-width" class="input-full-width">
          <input autocomplete="off" allowText="textAreaValidator" mdInput defaultNull mdTextareaAutosize id='nails' name='nails' formControlName="nails" placeholder="{{currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.headToToe?.nails}}" maxlength="50">
        </md-form-field>
      </div>
    </div>
  </div>
</div>