<div class="container">
  <div class="row col-xs-12">
    <h2 class="text-center">{{currentLanguageSet?.ancData?.anc}}</h2>
    <hr/>
  </div>

  <div class="row m-t-10">
    <div class="col-xs-12">
      <h4> {{currentLanguageSet?.ancData?.ancDetails}} </h4>
    </div>

    <div class="col-xs-12">
      <table class="table table-no-border casesheet-table" aria-describedby="ancDetails">

        <tr>
          <th id="primiGravida"> {{currentLanguageSet?.ancData?.ancDataDetails?.primiGravida}}:</th>
          <td> {{ (aNCDetailsAndFormula?.primiGravida == undefined) ? null : (aNCDetailsAndFormula?.primiGravida ? 'Yes' : 'No') }} </td>
          <th id="lastMenstrualPeriod"> {{currentLanguageSet?.ancData?.ancDataDetails?.lastMenstrualPeriod}}:</th>
          <td> {{ aNCDetailsAndFormula?.lastMenstrualPeriod_LMP}} </td>
        </tr>

        <tr>
          <th id="gestationalAge"> {{currentLanguageSet?.casesheet?.gestationalAge}}:</th>
          <td> {{ aNCDetailsAndFormula?.gestationalAgeOrPeriodofAmenorrhea_POA }} </td>
          <th id="expectedDate"> {{currentLanguageSet?.casesheet?.expectedDate}}:</th>
          <td> {{ aNCDetailsAndFormula?.expectedDateofDelivery}} </td>
        </tr>

        <tr>
          <th id="periodOfPregnancy"> {{currentLanguageSet?.casesheet?.periodOfPregnancy}}:</th>
          <td> {{ aNCDetailsAndFormula?.duration }} </td>
          <th id="trimesterNo"> {{currentLanguageSet?.casesheet?.trimesterNo}}:</th>
          <td> {{ aNCDetailsAndFormula?.trimesterNumber}} </td>
        </tr>


      </table>
    </div>
  </div>

  <div class="row m-t-10">
    <div class="col-xs-12">
      <h4> {{currentLanguageSet?.casesheet?.obstetricFormula}}</h4>
    </div>

    <div class="col-xs-12">
      <table class="table table-no-border casesheet-table" aria-describedby="gravida">
        <tr>
          <th id="gravida">{{currentLanguageSet?.casesheet?.gravida}}:</th>
          <td> {{ aNCDetailsAndFormula?.gravida_G }} </td>
          <th id="termDeliveries"> {{currentLanguageSet?.casesheet?.termDeliveries}}:</th>
          <td> {{ aNCDetailsAndFormula?.termDeliveries_T}} </td>
        </tr>

        <tr>
          <th id="preTermDeliveries"> {{currentLanguageSet?.casesheet?.preTermDeliveries}}:</th>
          <td> {{ aNCDetailsAndFormula?.pretermDeliveries_P }} </td>
          <th id="abortion"> {{currentLanguageSet?.casesheet?.abortion}}:</th>
          <td> {{ aNCDetailsAndFormula?.abortions_A}} </td>
        </tr>
        <tr>
          <th id="stillbirth"> {{currentLanguageSet?.stillBirth}}:</th>
          <td> {{ aNCDetailsAndFormula?.stillBirth}} </td>
         </tr>
        <tr>
          <th id="liveBirths"> {{currentLanguageSet?.casesheet?.liveBirths}}:</th>
          <td> {{ aNCDetailsAndFormula?.livebirths_L }} </td>
          <th id="bloodGroupType"> {{currentLanguageSet?.ancData?.obstetricDeatils?.bloodGroupType}}:</th>
          <td> {{ aNCDetailsAndFormula?.bloodGroup}} </td>
        </tr>
      </table>
    </div>
  </div>


  <div class="row m-t-10">
    <div class="col-xs-12">
      <h4> {{currentLanguageSet?.ancData?.ancImmune?.ancImmunization}}</h4>
    </div>
    <div class="col-xs-12">
      <table class="table table-bordered table-striped" aria-describedby="facility">
        <thead>
          <tr>
            <th id="serialNo"> {{currentLanguageSet?.casesheet?.serialNo}}</th>
            <th id="ttName"> {{currentLanguageSet?.casesheet?.ttName}}</th>
            <th id="ttStatus"> {{currentLanguageSet?.casesheet?.ttStatus}}</th>
            <th id="dateOfRecieved"> {{currentLanguageSet?.casesheet?.dateOfRecieved}}</th>
            <th id="facilityName"> {{currentLanguageSet?.ancData?.ancImmune?.facilityName}}</th>
          </tr>
        </thead>
        <ng-container>
          <tbody>
            <tr>
              <th id="1"> 1 </th>
              <th id="tt1Status"> {{currentLanguageSet?.ancData?.ancImmune?.tt1Status}} </th>
              <td>{{ aNCImmunization?.tT_1Status }}</td>
              <td>{{ aNCImmunization?.dateReceivedForTT_1 }}</td>
              <td>{{ aNCImmunization?.facilityNameOfTT_1 }}</td>
            </tr>
            <tr>
              <th id="2"> 2 </th>
              <th id="tt2Status"> {{currentLanguageSet?.ancData?.ancImmune?.tt2Status}} </th>
              <td>{{ aNCImmunization?.tT_2Status }}</td>
              <td>{{ aNCImmunization?.dateReceivedForTT_2 }}</td>
              <td>{{ aNCImmunization?.facilityNameOfTT_2 }}</td>
            </tr>
            <tr>
              <th id="3"> 3 </th>
              <th id="ttBoster"> {{currentLanguageSet?.casesheet?.ttBoster}} </th>
              <td>{{ aNCImmunization?.tT_3Status }}</td>
              <td>{{ aNCImmunization?.dateReceivedForTT_3 }}</td>
              <td>{{ aNCImmunization?.facilityNameOfTT_3 }}</td>
            </tr>
          </tbody>
        </ng-container>
      </table>
    </div>
  </div>

</div>