.norecord {
    text-align: center;
  }
  
:host /deep/ .pagination {
    margin: 0;
  }

  .visitStatus {
    position: relative;
    text-align: center;
  }
  
  .visitStatus.first-visit::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 1px;
    width: 4px;
    background: #ff9900;
  }
  
  .visitStatus.visit-complete::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 1px;
    width: 4px;
    background: #43760f;
  }

  ul {
    list-style: none;
    padding: 0px;
  }
  
  ul li {
    display: inline-block;
    padding: 0 8px;
  }
  
  ul li div,
  ul li p {
    display: inline-block;
  }
  
  ul li div {
    height: 15px;
    width: 15px;
  }
  .revisit-marker {
    background: #ff9900;
  }
  .marker-dark-green {
    background:rgb(0, 100, 0);
  }