<div class="m-t-10" [formGroup]='generalDiagnosisForm'>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <header class="mat-expansion-panel-header m-t-5">
        <h4>{{current_language_set?.casesheet?.provisionalDiag}}*</h4>
      </header>
      <ng-container formArrayName="provisionalDiagnosisList">
        <div class="col-xs-12 col-sm-12" *ngFor="let diagnosis of generalDiagnosisForm.controls['provisionalDiagnosisList']['controls']; let i = index; let isLast=last;">
          <ng-container [formGroupName]="i">
            <div class="col-xs-12 col-sm-9 col-md-9 m-t-10">
              <md-form-field class="input-full-width">
                <input mdInput appOpenModal allowText="inputFieldValidator" [diagnosisListForm]="diagnosis" formControlName="provisionalDiagnosis" name="diagnosisProvided" maxlength="100" minlength="3" [previousSelected]="generalDiagnosisForm?.value?.provisionalDiagnosisList" required>
                <md-icon class="search-btn" mdSuffix appOpenModal [diagnosisListForm]="diagnosis" [previousSelected]="generalDiagnosisForm?.value?.provisionalDiagnosisList">search</md-icon>
              </md-form-field>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 m-t-10">
              <button md-mini-fab type="button" *ngIf='isLast' [disabled]='checkProvisionalDiagnosisValidity(diagnosis)' class="pull-right" color="primary" (click)="addDiagnosis()">
                <md-icon>add</md-icon>
              </button>
              <button md-mini-fab type="button" class="pull-left" color="warn" *ngIf="((diagnosis.controls['provisionalDiagnosis'].disabled || (i != 0))) || (i==0 && generalDiagnosisForm.controls['provisionalDiagnosisList'].controls[i].controls.provisionalDiagnosis.value !== null && generalDiagnosisForm.controls['provisionalDiagnosisList'].controls[i].controls.provisionalDiagnosis.value !== '')" (click)="deleteDiagnosis(i, provisionalDiagnosisList)">
            <md-icon>close</md-icon>
          </button>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</div>