name: Static Code Analysis and Package Prod
on:
  push:
    branches: [ "master","develop"]
    
jobs:
  SAST-and-Package-Prod:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false
    steps:
      
    - name: Checkout code
      uses: actions/checkout@v3
        

    - name: Set up Java
      uses: actions/setup-java@v3
      with:
          java-version: '8'
          distribution: 'adopt'
          
          
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v2
      with:
          languages: javascript,typescript    
          
          
    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v2
      with:
          languages: javascript,typescript      
          

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
          node-version: 16
 
          
    - name: Build with NPM and  Create WAR file 
      run: |
            npm config set legacy-peer-deps true
            npm install -g @angular/cli
            npm install -g grunt-cli
            npm install typescript@2.7.2 --save-dev
            npm install ng2-smart-table@1.2.1
            npm install node-sass --force
            npm install --force
            npm run ng build --prod --aot && grunt
            
            
    - name: Upload WAR file as artifact
      uses: actions/upload-artifact@v2 
      with:
        name: MMU-UI
        path: target/
